{% extends 'header.html' %}

{% load static %}

{% block main %}
<section class="related-section section">
  <br />

  <h1 class="primary-title text-center ">사진촬영</h1>
  <div class="section-intro mb-5 text-center">사진을 촬영해주세요</div>


  <div class="row mt-3 mt-md-5 theme-bg-light ">
    <div class="col-12 col-lg-6 offset-lg-3  mb-3 mb-lg-5">
      <div class="product-figure text-center">
        <br/>
        <!--웹캠----------------->
        <video id="video" style="width : 100%; height: 100%; max-width:500px; max-height: 500px;"></video>
        <canvas id="canvas" style="width : 100%; height: 100%; max-width:500px; max-height: 500px; margin:auto; display:none"></canvas>
        <p></p>
        <button onclick="snap();" class="btn btn-secondary" >Snap</button>
        <!-- <button id="download" download="myImage.jpg" href="" onclick="download_img(this);" class="btn btn-secondary" >SAVE IMAGE!</button> -->
        <!--웹캠----------------->
      </div>
      <a class="btn-primary btn ml-auto" href="/uploads">이전으로</a>
      <form method="post" action="/resultPage_animal"  style="float:right;margin:0;">
        {%csrf_token %}
        <input type="text" name="imgurl" id="imgurl" style="display:none" />
        <input type="submit" class="btn btn-primary" value="결과보기!">
      </form>
      
    </div><!--col-->

</div><!--row-->
<script type="text/javascript">
  var canvas = document.getElementById("canvas");

  download_img = function (el) {
    // get image URI from canvas object
    var imageURI = canvas.toDataURL("image/jpg");
    el.href = imageURI;
  };
  var video = document.getElementById('video');
  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  var furl = '';
  context.beginPath();
  context.rect(0, 0, 500, 500);
  context.stroke();

  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia ||
    navigator.oGetUserMedia || navigator.msGetUserMedia;
  if (navigator.getUserMedia) {
    navigator.getUserMedia({ video: true }, streamWebCam, throwError);
  }
  function streamWebCam(stream) {
    console.log(stream);
    video.srcObject = stream;
    video.play();
  }
  function throwError(e) {
    alert(e.name);
  }
  function snap() {
    canvas.style.display="block"
    canvas.width = video.clientWidth;
    canvas.height = video.clientHeight;
    context.drawImage(video, 0, 0, canvas.width, canvas.height);
    furl = canvas.toDataURL();
    document.getElementById("imgurl").value=furl;
    
    video.style.display="none"
  }
</script>
</section>
{% endblock main %}
